/* ==========================================================================
   FONTS
   ========================================================================== */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

/* ==========================================================================
   GLOBAL
   ========================================================================== */

/* html
   ========================================================================== */

html {
    font-size: 62.5%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    pointer-events: auto;
    -webkit-filter: none;
    filter: none;
    background-color: rgb(0, 0, 0);
}

html.window-float {
    pointer-events: none;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
    background-color: transparent;
}

/* body
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   WEBVIEW
   ========================================================================== */

/* #webview
   ========================================================================== */

#webview-player {
    z-index: 1337;
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    margin-top: 0;
}

#webview-player.draggable {
    -webkit-app-region: drag;
}

/* #webview-playlist
   ========================================================================== */

#webview-playlist {
    z-index: 13370;
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
    /*backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);*/
    top: 0;
    pointer-events: auto;
}

#webview-playlist.hide, #webview-playlist.hide * {
    top: 100%;
    pointer-events: none;
}

/* ==========================================================================
   Z-INDEX
   ========================================================================== */

#input {
    z-index: 133700;
}

/* ==========================================================================
   DRAGGABLE
   ========================================================================== */

#title, #toolbar {
    -webkit-app-region: drag;
}

/* ==========================================================================
   WINDOW
   ========================================================================== */

#window {
    background: none;
}

/* ==========================================================================
   TITLE
   ========================================================================== */

#title {
    margin-top: 0;
    color: rgb(255, 255, 255);
}

/* ==========================================================================
   TOOLBAR
   ========================================================================== */

#toolbar {
    margin: 1em 0.2em 0.3em 0.3em;
}

#toolbar .btn {
    border: none;
    background: rgb(22, 3, 53);
    margin-right: 0.05em;
    margin-left: 0.05em;
    padding: 0.6em 1rem;
    border-radius: 0px;
}
#toolbar .btn .icon {
    width: 1em;
    height: 1em;
    font-size: 1.2em;
}

#toolbar .btn .icon:before {
    -webkit-font-smoothing: subpixel-antialiased;
}

#toolbar .btn, #toolbar .btn * {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#toolbar .btn.hide, #toolbar .btn.hide * {
    pointer-events: none;
    opacity: 0;
}

#toolbar .btn, #toolbar .icon {
    color: rgba(211, 209, 214, 0.8)
}

#toolbar .btn.active, #toolbar .btn.active .icon {
    color: rgba(255, 255, 255, 1);
}

#toolbar .btn:hover, #toolbar .btn:hover .icon {
    color: rgba(255, 255, 255, 1);
}

#toolbar .btn-group {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#toolbar .btn-group:first-child {
    margin-left: 0;
}

#toolbar .btn-group:nth-last-child(-n+2) {
    margin-right: 0;
}

/* ==========================================================================
   HEADER
   ========================================================================== */

#header {
    z-index: 1337000;
    background: linear-gradient(to bottom, rgba(90, 20, 200, 0.6) 30%, rgba(90, 20, 200, 0.4) 70%, rgba(90, 20, 200, 0.4) 100%);
    backdrop-filter: blur(0.5em);
    border-bottom: 1px solid rgba(60, 20, 20, 0.2);
    transition-property: opacity;
    transition-timing-function: ease-in-out;

    opacity: 0;
}

#header.show {
    opacity: 1;
    transition-delay: 10ms;
    transition-duration: 250ms;
}

#header.hide {
    opacity: 0;
    backdrop-filter: none;
    transition-delay: 1000ms;
    transition-duration: 1000ms;
}

#header * {
    z-index: 1337000;
}

#header h1 {
    font-family: system !important;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0.5em 0 0.8em 0;
    height: 1.25em;
    line-height: 1.25em;
    -webkit-font-smoothing: subpixel-antialiased !important;
    color: rgba(255, 255, 255, 0.7);
}

#header h1 .emphasis {
    font-weight: 500;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 1);
}

/* ==========================================================================
   INPUT
   ========================================================================== */

#input {
    z-index: 133700;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(23, 23, 23, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: display 500ms, opacity 500ms ease-in-out;
    display: flex;
    opacity: 1;
}

#input.show, #input.show * {
    opacity: 1;
}

#input.hide, #input.hide * {
    opacity: 0;
    pointer-events: none;
}

#input-button {
    font-style: normal;
    font-size: 3em;
    margin: 0 0.5em;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    color: #15920f;
    opacity: 0.7;
}

#input-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

#input-button.invalid {
    visibility: hidden;
}

#input-button.valid {
    visibility: visible;
}

#input-field {
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    height: 1em;
    line-height: 1em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 70%;
    outline: none;
    transition: all 0.1s ease-in-out;
    border: 1px solid #999999;
    box-shadow: 0 0 0.1em #999999;
}

#input-field:focus {
    border-color: #999999;
    box-shadow: 0 0 2em #999999;
}

#input-field.invalid {
    border-color: #b31217;
    box-shadow: 0 0 2em #b31217;
}

#input-field.invalid-shake {
    animation: shake 0.3s;
}

#input-field.valid {
    border-color: #15920f;
    box-shadow: 0 0 2em #15920f;
}

/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/* shake
   ========================================================================== */

@keyframes shake {
    0%, 100% {
        margin-left: 0;
    }
    20%, 60% {
        margin-left: 50px;
    }
    40%, 80% {
        margin-left: -50px;
    }
}

/* ==========================================================================
   HELPER
   ========================================================================== */

.sizereference {
    position: fixed;
    left: 0;
    top: 0;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
}

/* ==========================================================================
   SPINNER
   ========================================================================== */

/* spinner
   ========================================================================== */

#spinner {
    z-index: 133700000;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    animation: gradient 2000ms ease infinite;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgb(125, 0, 0), rgb(23, 12, 12));
    transition: all 2000ms ease 200ms;
    opacity: 1;
    pointer-events: auto;
}

#spinner.hide {
    opacity: 0;
    -webkit-filter: blur(20px);
    pointer-events: none;
}

#spinner.show {
    opacity: 1;
    -webkit-filter: none;
    pointer-events: auto;
}

/* spinner__text
   ========================================================================== */

#spinner__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
    font-size: 2rem;
}

@-webkit-keyframes gradient {
    0% {
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
    50% {
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
}

